html {
  scroll-padding-top: 75px;
}

/*header*/
body{
    background-color:cornsilk;
}
.header-inner{
    padding-top: 5px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    background-color:cornsilk;
}
.header-inner ul {
    width:45%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin-right: 8%;
}
.header-inner img{
    margin-left: 8%;
}
.header-inner ul li{
    margin-top: 20px;
}
.header-inner ul a{
    text-decoration: none;
    font-size: 20px;
    color:#000;
}
.header-inner ul a:hover{
    transition-duration:.2s;
    border-bottom: 2px solid #000;
    opacity: .6
}
.header-inner ul a:checked{
}
/*main*/
/*profile*/
main{
    line-height: 1.6;
}
.img-wrapper-box{
    position: relative;
    background-image:url("../images/venice-4704342_1280.webp");
    background-attachment:initial;
    background-size: 100%;
    height:650px;
    opacity: .7;
}
.title-wrapper{
   position: absolute;
   top: 240px;
   left: 0;
   right: 0;
   margin: auto;
   color: #fff;
}
.title{
    margin: 0;
    font-size: 120px;
    text-align: center;
}
.myname{
    margin: 0;
    text-align: center;
    font-size: 42px;
    font-family: 'Inria Serif', serif;
}
#profile-wrapper{
    width: 75%;
    height: 450px;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}
#profile-wrapper::before {
  content: "";
  display: block;
  height: 75px;
  margin-top: -75px;
  visibility: hidden;
}
.profile-img{
    width: 45%;
    height: 450px;
}
.profile-wrapper-text{
    width: 50%;
    height: 450px;
}
dl{
    display: flex;
    font-size: 14px;
}
dt{
    width: 40%;
    font-weight: 600;
}
dd{
    margin: 0;
}
/*skill*/
#skill-wrapper{
  width: 90%;
  height: 800px;
  margin:0 auto;
  margin-top: 100px;
  background-color:#99FFFF;
}
#skill-wrapper h1{
    text-align: center;
    padding-top: 40px;
}
.skill-wrapper-program section{
    display: flex;
}
.section-inner{
    width: 50%;
    background-color:#99FFFF;
    height: 350px;
    border: 2px solid #fff;
}
.section-inner h2{
    text-align: center;
}
.content-box{
    height: 25px;
    border: 2px solid #003333;
    background-color: #fff;
    border-radius: 10px;
}
.section-inner-content{
    width: 80%;
    margin: 0 auto;
}
.section-inner-content h3{
    width: 80%;
    margin: 0;
}
.content-box .content-box-html{
    width: 50%;
    height: 25px;
    background-color: red;
     border-radius: 10px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;
}
.content-box .content-box-css{
    width: 60%;
    height: 25px;
    background-color: red;
    border-radius: 10px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;
}
.content-box-ruby{
    width: 40%;
    height: 25px;
    background-color: red;
    border-radius: 10px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;  
}
.content-box-rails{
    width: 20%;
    height: 25px;
    background-color: red;
    border-radius: 10px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;
}
.content-box-sql{
    width: 10%;
    height: 25px;
    background-color: red;
    border-radius: 10px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;  
}
.content-box-js{
    width: 10%;
    height: 25px;
    background-color: red;
    border-radius: 10px;
    border-bottom-right-radius:0px;
    border-top-right-radius: 0px;  
}
footer{
    margin-top: 50px;
    height: 200px;
}
#contact-wrapper{
    width: 80%;
    margin: 70px auto;
}
#contact-wrapper h1{
    text-align: center;
    
}
.contact-wrapper-inner{
    width: 60%;
    margin: 0 auto;
    justify-content:space-around;
}
.contact-wrapper-inner a:nth-child(1){
    font-size: 30px;
    text-decoration: none;
    color: #000;
}
.contact-wrapper-inner a:nth-child(1):hover{
    transition-duration:.2s;
    border-bottom: 2px solid #000;
    opacity: .6
}
.contact-wrapper-inner a:nth-child(3):hover{
    transition-duration:.2s;
    opacity: .8
}
.or{
    font-size: 20px;
    margin: 0 30px;
}
.contact-wrapper-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.twitter-image{
    width: 50px;
    border-radius:30px;
}
#contact-wrapper>p{
    text-align: center;
    font-size: 20px;
}
/*レスポンシブ対応*/

@media screen and (max-width: 767px) { /*ウィンドウ幅が最大767pxまでの場合に適用(タブレット)*/

.header-inner{
    height: 65px;
    padding-top: 10px;
    width: 100%;
}
.header-inner ul {
    width:100%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
.header-inner img{
   display: none;
    margin: 0;
}
.img-wrapper-box{
    height: 300px;
}
.title-wrapper{
   top: 110px;
}
.title{
    font-size: 60px;
}
.myname{
    font-size: 20px;
}
    #profile-wrapper{
    width: 75%;
    height: 550px;
    margin: 50px auto;
    display: block;
    justify-content: space-between;
}
.profile-img{
    width: 100%;
    height: 250px;
}
.profile-wrapper-text{
    width: 100%;
    height: 450px;
}
 .profile-wrapper-text h1{
    text-align: center;    
}

.profile-wrapper-text section{
     display:flex;
     width: 90%;
    margin: 0 auto;
 }
 dl{
    width: 100%;
}
 .skill-wrapper-program section{
     display: block;
    }
 .section-inner{
    width: 100%;
    height: 300px;
}
#skill-wrapper{
     height: 1300px;   
}
footer{
   height: 200px;     
}
.contact-wrapper-inner{
   width:100%; 
}
.contact-wrapper-inner p{
    font-size:25px;    
 }
#contact-wrapper>p{
   font-size:15px;
}
.contact-wrapper-inner .or{
   font-size: 20px; 
}

@media screen and (max-width: 550px) { /*ウィンドウ幅が最大550pxまでの場合に適用(スマホ用)*/
  .header-inner{
    height: 65px;
    padding-top: 10px;
    width: 100%;
}
.header-inner ul {
    width:100%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}
 .header-inner ul li a{
    font-size: 20px;
}
.header-inner img{
   display: none;
}
.img-wrapper-box{
    height: 300px;
}
.title-wrapper{
   top: 110px;
}
.title{
    font-size: 60px;
}
.myname{
    font-size: 20px;
}
    #profile-wrapper{
    width: 75%;
    height: 500px;
    margin: 50px auto;
    display: block;
    justify-content: space-between;
}
.profile-img{
    width: 100%;
    height: 250px;
}
.profile-wrapper-text{
    width: 100%;
    height: 450px;
    font-size: 14px;
}
 .profile-wrapper-text h1{
    text-align: center;    
}

.profile-wrapper-text section{
     display:flex;
     width: 90%;
    margin: 0 auto;
 }
 dl{
    font-size: 12px;
    width: 100%;
}
 dt{
   width: 50%;     
 }

 .skill-wrapper-program section{
     display: block;
}
 .section-inner{
    width: 100%;
    height: 300px;
}
#skill-wrapper{
     height: 1300px;   
}
footer{
   height: 300px;     
}
.contact-wrapper-inner{
   width:100%; 
}
.contact-wrapper-inner p{
    font-size:25px;    
 }
#contact-wrapper>p{
   font-size:18px;
}
footer{
    margin-top: 50px;
    height: 150px;
}
#contact-wrapper{
    width: 80%;
    margin: 70px auto;
}
#contact-wrapper h1{
    text-align: center;
    
}
.contact-wrapper-inner{
    width: 60%;
    margin: 0 auto;
    justify-content:space-around;
}
.contact-wrapper-inner a:nth-child(1){
    font-size: 20px;
    text-decoration: none;
    color: #000;
}
.contact-wrapper-inner a:nth-child(1):hover{
    transition-duration:.2s;
    border-bottom: 2px solid #000;
    opacity: .6
}
.contact-wrapper-inner a:nth-child(3):hover{
    transition-duration:.2s;
    opacity: .8
}
.contact-wrapper-inner .or{
   font-size: 14px; 
}
.contact-wrapper-inner{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.twitter-image{
    width: 30px;
    border-radius:30px;
 }
#contact-wrapper p:nth-child(3){
    font-size: 12px;    
}
.section-inner-content p:nth-child(3){
    font-size: 13px;
    }
  
}